body {
    /* overflow: hidden; */
    width: 100dvw;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(47, 47, 47);
}

.main {
    width: 400px;
    height: 80%;
    background-color: rgb(68, 66, 66);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3px;
    
    
    
}
.horizontal {
   
    height: 20px;
    width: 20px;
    transition: opacity 0s linear 0s;
    border: 1px solid lightslategray;
    background-color: transparent;
    transition: box-shadow 0.2s ease-in-out;
    
    
    

}

.horizontal:hover {
    box-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff, 0 0 20px #eeeeee;
    transition: opacity 0.3s linear 0.3s;
    opacity: 0;
}


